$white: #FFFFFF;
$gray: #BFC0C0;
$dark: #585959;
$light: #D3DEEA;
$base-bg: #F0F0F6;
$base-yellow-color: #FFB400;
$additional-yellow-color: rgba(255, 180, 0, 0.95);
$black: #2B2B2B;
$paragraph-font: #767676;


$big: 'Abril Fatface', serif;
$body: 'Lato', sans-serif;